*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    background:linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.692)) ,url(./leptop-3.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.content h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    background: rgba(255,255,255,.2);
    border-radius: 5px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
}
nav{
    width:100vw;
    height: 80px;
    display: flex;
     justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
    z-index: 2;
}
.logo a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
ul{
    display: flex;
    z-index: 11;
}
ul li{
    display: block;
    list-style: none;
    margin: 0 5px;
}
ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 3px;
    transition: .4s;
}
ul li a:hover,ul li a.active{
    background-color: rgb(255, 255, 255);
    color: black;
}
    nav input{
        display: none;
    }
@media  (max-width:960px) {
    ul{
        display: block;
        position: fixed;
        left: -100%;
        top: 80px;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: rgb(41, 41, 41);
        text-align: center;
        transition: .5s;
    }
    ul li{
        display: block;
        margin:30px auto;
    }
    ul li a{
        display: block;
        background-color: none;
        font-weight: 500;
        font-size: 18px;
    }
    ul li a:hover,ul li a.active{
        background-color: transparent;
        color: rgb(8, 136, 255);
    }
    #click:checked ~ ul{
        left: 0;
    }
    .toggle{
        width: 50px;
        height: 50px;
        background-color: tomato;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }
    .toggle::before{
        content: "";
        height: 3px;
        width: 30px;
        background-color: white;
        position: absolute;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 white;
        transition: .3s;
    }
    .toggle::after{
        content: "";
        height: 3px;
        width: 30px;
        background-color: white;
        position: absolute;
        transform: translateY(10px);
        transition: .3s;
    }
    #click:checked ~ .toggle::before{
        box-shadow: none;
        transform: translateY(0) rotate(-45deg);
    }
    }
    #click:checked ~ .toggle::after{
        box-shadow: none;
        transform: translateY(0) rotate(45deg);
    }
}